body{
    margin: 0;
    padding: 0;
    background: radial-gradient(#000066,black);
    width: 100%;
    height: 100%;
}

.container{
    text-align: center;
    margin: 80px;
    height: 20%;
}

h2,h3 {
    color: white;
}

img {
    border: 1px solid darkgray;
}

.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.goodreads{
    border:1px solid #563210; 
    color: #F7F8F2;
} 

.wordpress{
    color: #3498db;
}

.github, .btn4{
    color: #fff;
}

.goodreads:hover{
    color: #563210;
} 

.wordpress:hover{
    color: #fff;
}

.github:hover, .btn4:hover{
    color: #3498db;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.goodreads::before{
    background: #F7F8F2;
    top: 0;
    border-radius: 0 0 50% 50%; 
} 

.github::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.wordpress::before, .btn4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.github::before, .btn4::before {
    height: 180%;
}

.goodreads:hover:before, .wordpress:hover::before {
    height: 180%;
}

.github:hover:before, .btn4:hover::before {
    height: 0%;
}



