/* DEFAULT */

body{
    margin: 0;
    background-color: #666;
}

/* CUSTOM STYLES */

.text { 
    width: 800px;
    height: 700px;
    padding: 10px;
    margin: auto;
}

/* MOBILE */

@media screen and (max-width: 680px) {
    .text {
        width: 100%;
        padding: 0;
    }
}