.blog, .article {
    margin-top: 10vh;
    position: relative;
    height: fit-content;
    padding-bottom: 0;
    max-width: 800px; 
    margin-bottom: 15vh;
}

.article {
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.top {
    position: relative;
    margin-top: 100px;
    height: auto;
}

.article *{
    margin-top: auto;
    margin: 30px 0;
    color: #2d2d2d;
}