body, html{
    margin: 0;
    padding: 0;
    background: #dcdcDC;
    width: 100%;
    height: 100%;
}

.section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    animation: slide 10s infinite;
    background: black;
}

.content{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -80%);
    text-transform: uppercase;
    text-align: center;
}

.content h1{
    color: #dcdcDC;
    font-size: 60px;
    letter-spacing: 16px;    
}

.content a{
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    margin: 50px;
    transition: 1s;
}

a:hover{
    font-weight: 500;
}

a.auth{
    border-radius: 25px;
    background: none;
    border: solid #0984e3;
    color: #0984e3;
}

a.auth:hover{
    background: #0984e3;
    color: black;
}

a.prog{
    border-radius: 25px;
    background: none;
    border: solid #00ff00;
    color: #00ff00;
}

a.prog:hover{
    background: #00ff00;
    color: black;
}

.container{
    text-align: center;
    margin: 80px;
    height: 20%;
}

.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.goodreads{
    border:1px solid #553b08; 
    color: #553b08;
} 

.wordpress{
    color: #3498db;
}

.github, .btn4{
    color: #fff;
}

.goodreads:hover{
    color: #ffd480;
} 

.wordpress:hover{
    color: #fff;
}

.github:hover, .btn4:hover{
    color: #3498db;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.goodreads::before{
    background: #553b08;
    top: 0;
    border-radius: 0 0 50% 50%; 
} 

.github::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.wordpress::before, .btn4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.github::before, .btn4::before {
    height: 180%;
}

.goodreads:hover:before, .wordpress:hover::before {
    height: 180%;
}

.github:hover:before, .btn4:hover::before {
    height: 0%;
}