body, html{
    margin: 0;
    padding: 0;
    background: #dcdcDC;
    width: 100%;
    height: 100%;
}

.section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    animation: slide 10s infinite;
    background: black;
}

.content{
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -80%);
    text-transform: uppercase;
    text-align: center;
}

.content h1{
    text-align: center;
    color: #dcdcDC;
    font-size: 60px;
    letter-spacing: 16px;    
}

#text{  
    color:white;
    position: absolute;
    font-size: 40px;
    text-align: center;
    margin: 100px;
    width: 100%;
    transform: translateX(-7%);
    text-transform: uppercase;
    font-family: "montserrat";
}

.content a{
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    margin: 50px;
    transition: 1s;
}

a:hover{
    font-weight: 500;
}

a.auth{
    border-radius: 25px;
    background: none;
    border: solid #0984e3;
    color: #0984e3;
}

a.auth:hover{
    background: #0984e3;
    color: black;
}

a.prog{
    border-radius: 25px;
    background: none;
    border: solid #00ff00;
    color: #00ff00;
}

a.prog:hover{
    background: #00ff00;
    color: black;
}

a.misc{
    border-radius: 25px;
    background: none;
    border: solid red;
    color: red;
}

a.misc:hover{
    background: red;
    color: black;
}

.social{
    background: none;
    position: absolute;
    bottom: -8%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.socbtn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: wheat;
    margin: 25px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: black;
    position: relative;
}

.socbtn i{
    line-height: 50px;
    font-size: 26px;
    transition: .2s linear;
}

.socbtn:hover i{
    transform: scale(2);
    color: wheat;
}

.socbtn::before{
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    background: black;
    transform: rotate(45deg);
    left: -110%;
    top: 130%;
}

.socbtn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -20%;
}

@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;
    } 50% {
        left: 10%;
        top: -30%;
    } 100% {
        left: -10%;
        top: -10%;
    }
}