body{
    margin: 0;
    padding: 0;
    background: #dcdcDC
}

.container{
    text-align: center;
    margin: 36px;
}

.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'montserrat';
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.goodreads, .wordpress{
    color: #3498db;
}

.github, .btn4{
    color: #fff;
}

.goodreads:hover, .wordpress:hover{
    color: #fff;
}

.github:hover, .btn4:hover{
    color: #3498db;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.goodreads::before, .github::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.wordpress::before, .btn4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.github::before, .btn4::before {
    height: 180%;
}

.goodreads:hover:before, .wordpress:hover::before {
    height: 180%;
}

.github:hover:before, .btn4:hover::before {
    height: 0%;
}